public/data
assets
node_modules
npm-debug.log
.git
.gitignore
README.md
.editorconfig
.vscode
.idea
dist
.angular
coverage
*.md
.DS_Store
Thumbs.db
*.log
.env
docker-compose.yml
dockerfile
.prettierignore
.prettierrc
